{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}

<div class="container">
    <div class="panel panel-default">
                <div class="panel-heading"><h4>{% trans %}List of available Device in this Nest account{% endtrans %}</h4></div>
                <div class="panel-body">
                        <pre>{{ device_list }}</pre>
                </div>
<table class='table'>
                <thead>
                <tr>
                    <th>{% trans %}Serial (Clic to create device){% endtrans %}</th>
                    <th>{% trans %}Device Type{% endtrans %}</th>
                    <th>{% trans %}Device Where{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for device in devices %}
                <tr>
                    <td>
                        <a href="/client/{{ clientid }}/dmg_devices/new/type/{{device.type}}?serial={{ device.serial }}&name={{ device.serial }}">{{ device.serial }}</a></td>
                    <td>{{ device.type }}</td>
                    <td>{{ device.where }}</td>
                </tr>
                {% endfor %}
                </tbody>
</table>

        </div>
</div>

<div class="container">
    <div class="panel panel-default">
		<div class="panel-heading"><h4>{% trans %}Last errors in plugin log{% endtrans %}</h4></div>
			<div class="panel-body">
				<pre>{{ errorlog }}</pre>
			</div>
	</div>
</div>

{% endblock %}
